<div id="useredit" class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-4">
      <%= form_with model: @user, local: true, url: profile_path, class: 'login-form mt-5' do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <p class="login-text">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-user-edit fa-stack-1x"></i>
          </span>
        </p>
        <div class="form-group">
          <%= f.text_field :name, class: 'login-username fa small', placeholder: "\uf007 User Name", autofocus: 'true', required: 'true' %>
        </div>
        <div class="form-group">
          <%= f.email_field :email, class: 'login-username fa small', placeholder: "\uf0e0 Email", autofocus: 'true', required: 'true' %>
        </div>
        <%= f.submit '更新する', class: 'login-submit px-3' %>
      <% end %>
      <div class="underlay-photo"></div>
      <div class="underlay-black"></div>
    </div>
  </div>
</div>
