<div class="col-sm-12 col-lg-4 mt-4 mb-4 text-center">
  <div class="card-radius">
    <article class="card">
      <div class="card__header">
        <%= link_to campsite_path(campsite.id), class: "card__title fas fa-campground" do %>
          <%= campsite.name %>
        <% end %>
        <figure class="card__thumbnail mx-auto d-block">
        <% results = "http://maps.google.com/maps/api/staticmap?center=#{campsite.name}&scale=1&size=450x250&zoom=13&markers=size:mid|color:red|label:A&maptype=hybrid&sensor=true&key=#{Rails.application.credentials.google[:GOOGLE_MAP_API_KEY]}" %>
        <% if results.present? %>
          <%= image_tag results %>
        <% else %>
          <%= image_tag campsite.image.url, alt: "キャンプ場の写真",  class: "card__image rounded" %>
        <% end %>
        </figure>
      </div>
      <div class="card__body">
      </div>
      <div class="card__footer text-center">
        <div class="index-likebutton">
          <%= render 'bookmark_button', campsite: campsite %>
        </div>
        <p class="card__text fas fa-map-marker-alt"> <%= campsite.address %></p><br>
        <p class="card__text fa fa-clock"> <%= campsite.period %></p>
      </div>
    </article>
  </div>
</div>
