<% set_meta_tags title: 'キャンプ場詳細案内ページ', description: "#{ @campsite.name }の詳細案内です。キャンプ場の周辺施設も楽しみましょう。" %>
<% content_for(:title, t('.title')) %>
<% breadcrumb :guidance, @campsite %>
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <!--距離と時間のメッセージ表示-->
      <div id="msg" class="mt-3 mb-3"></div>
      <!--Map表示-->
      <div id="gmap" class="mb-3"></div>
    </div>
  </div>
</div>
<h4 class="text-center mt-3 mb-3"><i class="fas fa-search">&nbsp;周辺施設を検索</i></h4>
<div class="container">
  <div class="col-12">
    <div class="row justify-content-center">
        <div class="col-md-4 d-inline-block mb-2">
          <select name="施設" id="keywordInput" class="form-control custom-select shadow">
            <option selected>施設を選択</option>
            <option value="スーパーマーケット">スーパー</option>
            <option value="ショッピングモール">ショッピングモール</option>
            <option value="セブンイレブン ローソン ファミリーマート">コンビニ</option>
            <option value="ホームセンター">ホームセンター</option>
            <option value="銭湯 温泉">銭湯・温泉</option>
            <option value="病院">医療機関</option>
            <option value="道の駅">道の駅</option>
            <option value="観光地">観光地</option>
            <option value="ランチ">飲食店(ランチ)</option>
          </select>
        </div>
        <div class="col-md-4 d-inline-block mb-2">
          <select name="検索範囲" id="radiusInput" class="form-control custom-select shadow">
            <option value="1000">半径1 km 圏内</option>
            <option value="3000" selected>半径3 km 圏内</option>
            <option value="5000">半径5 km 圏内</option>
            <option value="10000">半径10 km 圏内</option>
          <select>
        </div>
        <div class="col-auto d-inline-block">
          <input type="button" value="検索" id="nearby-search" class="btn btn-success btn-s-md" onclick="getPlaces()">
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mt-3" id="results"></div>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-12">
      <h4 class="mb-3 mt-3"><i class="fas fa-cloud-sun">&nbsp;キャンプ場の天気予報(5日間)</i></h4>
      <!--天気予報表示-->
      <div id="openweather" class="d-flex mb-5 weather-section"></div>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-12">
      <h4 class="mb-3 mt-3"><i class="fas fa-hotel">&nbsp;キャンプ場周辺のホテル情報</i></h4>
      <h6 class="mb-3">道中、豪雨に見舞われた際は周辺のホテル利用も視野に入れましょう。</h6>
      <!--Rakuten Travel表示-->
      <div class="card-deck mb-3 text-center">
      <% if @hotels.present? %>
        <% @hotels.each do |hotel| %>
          <div class="card mb-4 shadow-sm border-info mx-auto" style="min-width: 15rem; max-width: 30rem;">
            <div class="card-img-top">
              <%= image_tag hotel[:image_url], size: "100x100" %>
            </div>
            <div class="card-body">
              <%= link_to hotel[:name], hotel[:url], target: '_blank', rel: "nofollow noopener noreferrer" %><br>
              <%= hotel[:address1] + hotel[:address2] %>
            </div>
            <div class="card-footer bg-change">
              <%=  hotel[:review].to_s.empty? || hotel[:review].to_s == "0.0" ? "評価：なし" : "総合評価：" + hotel[:review].to_s + "(投稿件数：" + hotel[:review_count].to_s + "件)" %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col-12">
          <h6 class="font-weight-bold mt-3 mb-3">キャンプ場周辺にホテルはありませんでした。当日悪天候なら引き返しましょう。</h6>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row gx-4 gx-lg-5">
    <div class="col-12">
      <h4 class="mb-3 mt-3"><i class="fas fa-campground">&nbsp;おすすめのテント情報</i></h4>
      <h6 class="mb-3">コスパの良い無料キャンプ場を利用し続けると憧れのテントを購入できます!!</h6>
      <!--Rakuten Tent表示-->
      <div class="card-deck mb-3">
      <% @tents.each do |tent| %>
        <div class="card mb-4 shadow-sm border-info" style="min-width: 15rem;">
          <div class="card-img-top">
            <%= image_tag tent[:image_url], size: "100x100" %>
          </div>
          <div class="card-body">
            <%= link_to tent[:name], tent[:url], target: '_blank', rel: "nofollow noopener noreferrer" %>
          </div>
          <div class="card-footer bg-change">
            <%= "価格：" + tent[:price].to_i.to_s(:delimited) + "円" %><br>
            <%= tent[:count] == 0 ? "評価：なし" : "評価：" + tent[:score] %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row gx-4 gx-lg-5">
    <div class="col-12">
      <h4 class="mb-3 mt-3"><i class="fas fa-book">&nbsp;おすすめのキャンプ雑誌</i></h4>
      <h6 class="mb-3">雑誌を読んで物欲を掻き立てましょう!!</h6>
      <!--Rakuten Books表示-->
      <div class="card-deck mb-3">
      <% @books.each do |book| %>
        <div class="card mb-4 shadow-sm border-info" style="min-width: 15rem;">
          <div class="card-img-top">
            <%= image_tag book[:image_url] %>
          </div>
          <div class="card-body">
            <%= link_to book[:name], book[:url], target: '_blank', rel: "nofollow noopener noreferrer" %><br>
            <%= "出版社：" + book[:publisher] %>
          </div>
          <div class="card-footer bg-change">
            <%= "価格：" + book[:price].to_i.to_s(:delimited) + "円" %><br>
            <%= book[:sales].empty? ? "発売日：不明" : "発売日：" + book[:sales] %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

