<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="bg-gray text-center mt-5">
      <h5 class="text-center mt-4 mb-4"><i class="fas fa-sign-in-alt"></i> マイページ</h5>
      <div class="mt-4 mb-4">
        <%= image_tag current_user.avatar.url,
            class: 'rounded-circle',
            size: '120x120' %>
      </div>
      <h5 class="font-weight-bold">ようこそ、<%= current_user.name %>さん</h5>
      <%= link_to "編集する", edit_profile_path, class: 'btn btn-outline-warning mt-3 mb-3 px-4' %>
    </div>
  </div>
</div>
  <div class="container col-lg-8">
    <h4 class="mycamp mt-5 mb-5">行きたいキャンプ場一覧</h4>
    <div class="mt-3">
      <%= render 'shared/search_form_mypage', url: mypage_campsites_path, search: @search %>
    </div>
    <div class="row">
      <% if @bookmark_campsites.present? %>
        <%= render partial: "campsites/campsite", collection: @bookmark_campsites %>
      <% else %>
        <h5 class="mt-4 mb-4">行きたいキャンプ場がまだありません。</h5>
      <% end %>
    </div>
      <%= paginate @bookmark_campsites %>
  </div>
</div>
