<% set_meta_tags title: 'キャンプ場詳細ページ', description: "#{ @campsite.name }の詳細です" %>
<% content_for(:title, t('.title')) %>
<% breadcrumb :campsite, @campsite %>
<div class="container mt-4 footerFixed">
  <div class="row">
    <div class="container backimage mb-5 text-center text-white">
      <div class="likebutton">
        <%= render 'bookmark_button', campsite: @campsite %>
      </div>
      <h3 class="mt-5 mb-3"><%= @campsite.name %></h3>
      <h5><%= @campsite.prefecture.name %></h5>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <table class="table table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width:25%"><%= t '.info' %></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><i class="fas fa-fire"></i> <%= t '.name' %></th>
                    <td><h5 class="text-muted"><%= @campsite.name %></h5></td>
                </tr>
                <tr>
                    <th scope="row"><i class="fas fa-map-marked-alt"></i> <%= t '.address' %></th>
                    <td><p class="text-muted"><%= @campsite.address %></p></td>

                </tr>
                <tr>
                    <th scope="row"><i class="far fa-calendar-alt"></i> <%= t '.period' %></th>
                    <td><p class="text-muted" style="word-wrap:break-word;"><%= @campsite.period %></p></td>
                </tr>
                <tr>
                    <th scope="row"><i class="far fa-clock"></i> <%= t '.checkin' %></th>
                    <td><p class="text-muted"><%= @campsite.checkin %></p></td>
                </tr>
                <tr>
                    <th scope="row"><i class="fas fa-clock"></i> <%= t '.checkout' %></th>
                    <td><p class="text-muted"><%= @campsite.checkout %></p></td>
                </tr>
                <tr>
                    <th scope="row"><i class="fas fa-sign"></i> <%= t '.access' %></th>
                    <td><p class="text-muted" style="word-wrap:break-word;"><%= @campsite.access %></p></td>
                </tr>
                <tr>
                    <th scope="row"><i class="fas fa-info-circle"></i> <%= t '.description' %></th>
                    <td><p class="text-muted" style="word-wrap:break-word;"><%= @campsite.description %></p></td>
                </tr>
                <tr>
                    <th scope="row"><i class="fas fa-phone"></i> <%= t '.phone' %></th>
                    <td class="link-color"><a href="tel:"><%= @campsite.phone %></a></td>
                </tr>
                <tr style="white-space: nowrap;">
                    <th scope="row"><i class="fas fa-globe"></i> <%= t '.contact_link' %></th>
                    <td class="link-color"><%= text_url_to_link(@campsite.contact_link).html_safe %></td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-5">
          <div class="text-center mb-5 mt-4">
            <%= link_to "この無料キャンプ場の周辺案内を行う", guidance_campsite_path, class: 'btn-gradient-3d-orange w-100' %>
          </div>
          <div class="d-flex justify-content-around mb-5">
            <%= link_to "https://twitter.com/share?url=#{request.original_url}&hashtags=キャンプ,無料キャンプ場,#{@campsite.prefecture.name}の無料キャンプ場,#{@campsite.name}",
            target: '_blank', rel: "nofollow noopener noreferrer", class: "fab fa-twitter fa-lg align-middle" do %>
            <% end %>
            <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{url_encode(request.original_url)}", target: "_blank", rel: "nofollow noopener noreferrer", class: "js-sns-link" do %>
              <i class="fab fa-facebook fa-lg align-top"></i>
            <% end %>
            <%= link_to "https://line.me/R/msg/text/?#{request.original_url}", target: "_blank", rel: "nofollow noopener noreferrer", style: "color: #00B900;" do %>
              <i class="fab fa-line fa-lg align-top"></i>
            <% end %>
          </div>
          <!-- Google Mapの表示 -->
          <div id='map' class="mb-5"></div>
        </div>
      </div>
    </div>
  </div>
</div>
