<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:locale" content="ja_JP" />
    <meta property="og:title" content="<%= page_title(yield(:title)) %>" />
    <meta property="og:description" content="全国の無料キャンプ場を検索できて、周辺施設や天気を案内するサービス" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:image" content="<%= og_image(yield(:og_image)) %>" />
    <meta property="og:site_name" content="CAMPHOOD" />
    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@42_ogi" />
    <meta name="twitter:image" content="<%= og_image(yield(:og_image)) %>" />
    <meta name="twitter:title" content="<%= page_title(yield(:title)) %>" />
    <meta name="twitter:description" content="全国の無料キャンプ場を検索できて、周辺施設や天気を案内するサービス" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <div id="container">
      <% if logged_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
        <% unless controller.controller_name == "top_page" && controller.action_name == "top" %>
          <div style="height: 80px;"></div>
        <% end %>
      <%= breadcrumbs pretext: "", separator: " &rsaquo; ", class: "breadcrumb text-black bg-transparent" %>
      <!-- <%= breadcrumbs separator: " #{content_tag(:i, '', :class=>'fas fa-angle-double-right breadcrumb small')} " %> -->
      <%= render 'shared/flash_message' %>
      <div>
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    </div>
  </body>
</html>
